body{
    background-color: black;
}
.link{
    text-decoration:none ;
    padding: 0.5rem 1 rem;
}
.list-non-bullet{
    list-style: none;
}
.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}
.navigation{
    background-color:rgb(194, 26, 26);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius:0.5rem;
    padding:2rem 1rem;
    color:white;
}
.navigation .link{
    color:white;
}
.navigation .nav-pills{
    text-align: right;
    font-size: large;
    font-weight: bold;
}
.navigation .nav-brand{
    /* text-align: center; */
    font-weight: bold;
    font-size: large;
}
.navigation .link-active{
    font-weight: bold;